.btnLight {
    color: #423d8f;
    background: #ccc5e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.btnLight:hover {
    color: #ccc5e4;
    background: #423d8f;
}


.inputLight{
    outline: none;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #ccc5e4, #6B51B8);
    color: #ccc5e4;
    border-image-slice: 0.5;
}

.inputs .inputLight::placeholder {
    color: #ccc5e4;
}
