* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    /* font-size: 16px; */
}

.loginBG{
    background: url("../images/Login.jpg") no-repeat;
}

.registerBG{
    background: url("../images/Register.jpg") no-repeat;
}

#mainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background: none;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
    padding: 30px 40px;
    border-radius: 10px;
}

.container h1 {
    color: #6B51B8;
    font-size: 36px;
    text-align: center;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label {
    color: #ccc5e4;
}

.remember-forgot label input {
    accent-color: #ccc5e4;
    margin-right: 3px;
}

.a {
    color: #ccc5e4;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.a:hover {
    text-decoration: underline;
}


.register-now {
    color: #ccc5e4;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

/* .inputs input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */